@import "../../constants/colors.scss";

*,
p {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #ffffff;
}

/* Container for the entire page */
.header-container {
  width: 100%;
  padding: 0 8%;
  background-color: $red-primary-color;
  height: 90px;
  z-index: 1010;
  .header-title {
    font-size: 32px;
    color: $yellow-primary-color;
    font-weight: 600;
  }
  .header-language-dropdown {
    margin-right: 30px;
    border-radius: 10%;
    .header-language-dropdown-toggle {
      background-color: #ffffff;
      color: #6b6b6b;
    }
  }
}
