$background-overlay-color__orange: (241, 114, 40, 0.5);
$white-color: #ffffff;
$super-light-gray: #ebecf1;
$light-gray: #d8d8d8;

//login var
$text-color__black: #191c1f;
$text-color__gray: #77878f;
$form-data-background-color: #f6fafc;

//food
$food-info-container-border-color: #ff642f;
$food-name-color: #1b3764;
$food-info-container-background-color: #eef1f4;
$food-price-color: #ff642f;
$background-color__gray: #eeeeee;

// admin-dashboard
$admin-dashboard-light-blue: #8280ff;
$admin-dashboard-light-yellow: #fec53d;
$admin-dashboard-light-green: #4ad991;
$admin-dashboard-light-red: #ff9066;
$admin-dashboard-dark-green: #00b074;
$admin-dashboard-star-yellow: #f7c604;

// admin-order
$admin-order-dark-red: #ed315a;
