@import "../../constants/colors.scss";
*,
p {
  margin-bottom: 0;
}

html,
body {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
button,
input,
textarea {
  font-family: "Roboto", Arial, sans-serif !important;
}

.admin-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #001529; /* Dark background for sider */
  color: #fff; /* White text */
  .logo-container {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #2c3e50; /* Add a subtle border */
    .site-title {
      color: #fff; /* White text for title */
      font-size: 20px;
      font-weight: bold;
    }
  }
  .admin-menu {
    border-right: none;
    background-color: #001529; /* Match sider background */
    color: #fff; /* White text for menu items */
    .ant-menu-item {
      color: #fff; /* Default white text for menu items */
      &:hover {
        color: #1a237e !important; /* Hover color */
        background-color: #e3f2fd !important; /* Hover background */
      }
    }
    .ant-menu-item-selected {
      color: #1a237e !important; /* Text color for selected item */
      background-color: #e3f2fd !important; /* Background for selected item */
    }
  }
  .admin-logout-button-container {
    position: absolute;
    bottom: 60px;
    width: 100%;
    .admin-logout-button {
      background-color: #6c5ce7 !important;
      color: white !important;
      border: none;
      width: 90%;
      margin: 0 auto;
    }
    .admin-logout-button:hover {
      background-color: #a29bfe !important;
      color: white !important;
    }
  }
}

.site-layout {
  margin-left: 250px; /* Adjust margin based on initial sider width */
  transition: margin-left 0.2s ease;
}

.admin-sider.ant-layout-sider-collapsed + .site-layout {
  margin-left: 80px;
}

.admin-header {
  padding: 0 24px !important;
  background: #fff !important;
  height: 64px !important;
  line-height: 64px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .trigger-button {
    font-size: 18px;
    width: 64px;
    height: 64px;
  }
  .admin-header-right {
    .notification-icon {
      font-size: 20px;
      cursor: pointer;
    }
    .admin-user-info {
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 10px;
      position: relative;
      .user-name {
        font-weight: 550;
        color: #001d3a;
        font-size: 16px;
      }
      .admin-dropdown-icon {
        font-size: 12px;
        transition: transform 0.3s ease;
        &.open {
          transform: rotate(180deg);
        }
      }
      .admin-dropdown-menu {
        position: absolute;
        top: 110%;
        right: 0;
        background-color: #e3f2fd;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 5px 0;
        z-index: 1000;
        min-width: 120px;
        button {
          display: block;
          width: 100%;
          padding: 8px 12px;
          border: none;
          background: none;
          text-align: left;
          cursor: pointer;
          &:hover {
            background-color: #bbdefb;
          }
        }
      }
    }
  }
}

.admin-content {
  margin: 24px;
  background-color: #fff;
  min-height: calc(
    100vh - 64px - 48px
  ); /* Adjust height based on header and margin */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
