@import '../../constants/colors.scss';

.form-login {
  width: 30%;
  z-index: 2;
  background-color: $form-data-background-color;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  .tab_button {
    width: 50%;
    color: $text-color__gray;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: $white-color;
    padding: 16px 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &.actived {
      border-bottom: solid 3px #fa8232;
      color: $text-color__black;
    }
  }
  .form-data {
    width: 100%;
    padding: 4px;
  }
}
.hide-password {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.text-color__black {
  color: $text-color__black;
}
